*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 800vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero{
    width: 200px;
    height: 230px;
    clip-path: circle();
}